:root.theme-light {
  --bg-page: var(--bg-page-light);
  --bg-color: var(--white);
  --main-color: var(--black);
  --active-color: var(--black-op-60);
  --label-text-stroke: var(--white-op-60);
  --button-text-color: var(--white);

  --main-font-weight: var(--light-theme-main-font-weight);
  --title-font-weight: var(--light-theme-title-font-weight);
}

:root.theme-dark {
  --bg-page: var(--bg-page-dark);
  --bg-color: var(--black);
  --main-color: var(--green);
  --active-color: var(--green-op-60);
  --label-text-stroke: var(--black-op-60);
  --button-text-color: var(--green);

  --main-font-weight: var(--dark-theme-main-font-weight);
  --title-font-weight: var(--dark-theme-title-font-weight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-page: var(--bg-page-dark);
    --bg-color: var(--black);
    --main-color: var(--green);
    --active-color: var(--green-op-60);
    --label-text-stroke: var(--black-op-60);
    --button-text-color: var(--green);

    --main-font-weight: var(--dark-theme-main-font-weight);
    --title-font-weight: var(--dark-theme-title-font-weight);
  }
}
