:root {
  --black: #000;
  --black-op-60: rgba(0, 0, 0, 0.6);
  --black-op-75: rgba(0, 0, 0, 0.75);
  --black-2: #1a1a1a;
  --white: #fff;
  --white-op-60: rgba(255, 255, 255, 0.6);
  --white-2: #d3d3d3;
  --white-3: #e7e7e7;
  --green: #00cc14;
  --green-op-60: rgba(0, 204, 20, 0.6);
  --green-2: #007f0c;
  --green-3: #004306;
  --red: #ff0000;
  --red-op-0: rgba(255, 0, 0, 0);

  --bg-page-light: repeating-linear-gradient(
      to bottom,
      var(--white-2) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--white-2) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, var(--white-3), var(--black-2));
    
  --bg-page-dark: repeating-linear-gradient(
      to bottom,
      var(--black) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--black) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, var(--green-2), var(--green-3));

  --bg-page: var(--bg-page-light);

  --light-theme-main-font-weight: 400;
  --light-theme-accent-font-weight: 700;
  --dark-theme-main-font-weight: 465;
  --dark-theme-accent-font-weight: 785;

  --main-font: Inter-Variable;
  --accent-font: PressStart2P;

  --main-font-weight: var(--light-theme-main-font-weight);
  --accent-font-weight: var(--light-theme-accent-font-weight);

  --bg-color: var(--white);
  --main-color: var(--black);
  --active-color: var(--black-op-60);
  --label-text-stroke: var(--white-op-60);
  --button-text-color: var(--white);
  --sparks-color: var(--red);
}
